.nosotros {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: map-get($colores, dark);

    section {
        background: map-get($colores, dark);

        h3 {
            margin-bottom: 1.875rem;
            font-family: "Domine", serif;
            color: map-get($colores , blanc);
            font-size: map-get($fuente-tam, m);
            padding: .625rem;
        }

        p {
            margin-bottom: .625rem;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-size: map-get($fuente-tam, s);
            color: map-get($colores , claro);
            margin-bottom: 1.875rem;
            padding: .625rem;
        }
    }

}

.imagen-nosotros {
    width: 100%;
    height: 43.75rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.nota-historia {
    text-align: left;
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: map-get($colores, dark);

    div {
        display: flex;
        width: 31.25rem;
        height: 21.875rem;
        object-fit: contain;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        width: 50%;
        display: flex;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: map-get($fuente-tam, s);
        color: map-get($colores , claro);
        text-align: left;
        margin: .625rem;
        padding: .625rem;

        @include mobile {
            font-size: map-get($fuente-tam, xs);
            text-align: center;
        }
    }
}


.nota-historia3 {
    @extend .nota-historia;
    padding-top: none;
    padding-bottom: 5rem;
    flex-direction: row-reverse;

    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        font-size: map-get($fuente-tam, s);
        text-align: center;
    }
}

.relato-nosotros {
    width: 100%;
    height: 31.25rem;
    display: flex;
    flex-direction: column;

    div {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: map-get($fuente-tam, xxl);
            color: map-get($colores , claro);
            text-align: center;
            margin: .625rem;
            padding: .625rem;

            @include tablet {
                display: none;
            }
        }
    }

    h4 {
        font-family: "Domine", serif;
        font-weight: 200;
        font-size: map-get($fuente-tam, m);
        color: map-get($colores , blanc);
        text-align: left;
        margin: .625rem;
        padding: .625rem;

        @include tablet {
            text-align: center;
        }

        @include mobile {
            font-size: map-get($fuente-tam, s);
            text-align: center;
        }
    }

    p {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: map-get($fuente-tam, s);
        color: map-get($colores , claro);
        text-align: left;
        margin: .625rem;
        padding: .625rem;

        @include tablet {
            font-size: map-get($fuente-tam, xs);
            text-align: center;
        }

    }
}