$colores:(
    claro: #8c7456,
    tost: #401201,
    dark: #260801,
    nero: #000000,
    blanc: #ffffff,

);


$fuente-tam:(
    xxs: .75rem,
    xs: 1rem,
    s: 1.25rem,
    m: 1.5rem,
    l: 1.875rem,
    xl: 3rem,
    xxl: 5rem,
    xxxl: 12.5rem,
);